@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@tailwind base;

@tailwind components;

.btn-main {
    @apply bg-maincolor-400;
    @apply text-thirdcolor-400;
    @apply text-center;
    @apply rounded-lg;
}

.btn-main:hover {
    @apply bg-maincolor-500;
}

.btn-second {
    @apply bg-secondcolor-500;
    @apply text-thirdcolor-400;
    @apply text-center;
    @apply rounded-lg;
}

.btn-second:hover {
    @apply bg-secondcolor-600;
}

.nav {
    @apply flex-1;
    @apply flex;
    @apply text-thirdcolor-400;
    @apply text-center;
}

.nav-btn:hover {
    @apply text-secondcolor-400;
}

.mask {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply bg-black;
    @apply opacity-50;
    @apply top-0; 
    @apply left-0;
}

.background-mask {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply opacity-75;
    @apply rounded-lg;
    @apply top-0; 
    @apply left-0;
}

.bg-img {
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
}

.btn-center {
    @apply absolute;
    @apply top-half;
    @apply z-20;
    @apply cursor-pointer;
    transform: translateY(-50%);
}

.transX {
    transform: translateX(-50%);
}

.transY {
    transform: translateY(-50%);
}

.trans-center {
    transform: translate(-50%, -50%);
}

.rl {
    writing-mode: vertical-rl
}

.blur {
    filter: blur(3px)
}

.touch {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply top-0; 
    @apply left-0;
}

.title {
    @apply text-secondcolor-600;
    @apply text-4xl;
    @apply text-center; 
    @apply py-8;
}

.default {
    @apply font-NotoSans; 
    @apply bg-thirdcolor-300;
}

.indent {
    text-indent: 10px;
}

.fixed-br {
    top: 88%;
    right: 5%;
}

.keep-footer-bottom {
    height: 100%;
    display: flex;
    flex-direction: column
}

.order-button {
    @apply rounded-circle;
}

.transScale {
    transform: scale(1.05);
}

.toggle-checkbox:checked {
  @apply right-0; 
  @apply border-green-400;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
}

.text-hidden {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.text-hidden-one {
    white-space: nowrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

@tailwind utilities;